{% extends 'base.html' %}
{% block body %}

        {% if not request.user.is_authenticated %}
            <p>You need to <a href="{% url 'loginview' %}">login</a></p>
        {% else %}
        <div class="container">
            <div class="col-12">
                <h1>{{ request.user.username }}'s Task</h1>
                <form action="{% url 'addtask' %}" method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-row">
                        <textarea class="form-control col-10 mb-3" name='task' placeholder="Add Task" style="width: 100%;"></textarea>
                        <div class="form-group col-2">
                            <input class="btn btn-primary" type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                {% if tasks %}
                    {% for task in tasks reversed %}
                        <div class="card">
                            <div class="card-header {% if task.status == 'COMPLETE' %}text-white bg-success{% elif task.status == 'EXPIRED' %}text-white bg-danger{% endif %}">{{ task.status }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ task.tasks }}</h5>
                                <p class="card-text"><small class="text-muted">Deadline: {{ task.deadline }}</small></p>
                                <a class="text-primary mr-2" href="{% url 'edittask' task.id %}">Edit</a>
                                <a class="text-danger mr-2" href="{% url 'deletetask' task.id %}">Delete</a>
                            </div>
                        </div>
                        <!-- <tr class="{% if task.status == 'COMPLETE' %}bg-success{% elif task.status == 'EXPIRED' %}bg-danger{% endif %}">
                            <td>{{ task.tasks }}</td>
                            <td>{{ task.date_created }}</td>
                            <td>{{ task.deadline }}</td>
                            <td>{{ task.status }}</td>
                            <td><a class="btn btn-warning btn-sm" href="{% url 'edittask' task.id %}">Edit</a></td>
                            <td><a class="btn btn-danger btn-sm" href="{% url 'deletetask' task.id %}">Delete</a></td>
                        </tr> -->
                    {% endfor %}
                {% else %}
                    <p>No tasks</p>
                {% endif %}
            </div>
            <div class="col-12 mt-2">
                <p class="float-left mr-2">&copy;2020 yottaaa</p>
                <a class="btn btn-primary btn-sm mr-2 float-right" href="{% url 'logoutview' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
                <a class="btn btn-dark btn-sm mr-2 float-right" href="https://github.com/yottaaa/todowithdeadline">
                    <i class="fab fa-github"></i>
                    Github
                </a>
                <p class="float-right mr-2">
                    {{ users }} <i class="fas fa-users"></i> Users
                </p>
            </div>
        </div>
        {% endif %}
    

{% endblock %}
