html, body {
    height: 100%;
}
body {
    background-color: #cbf1f5;
    display: -ms-flexbox;
    flex-direction: column;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.table-container {
    width: 100%;
    height: 400px;
    overflow: scroll;
}
/* ACCOUNT APP */
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.edit-container {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}
.edit-container .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
